# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Desktop Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows
            arch: amd64
            suffix: .exe
          - os: linux
            arch: amd64
            suffix: -linux

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build
        run: |
          OUTPUT_NAME="wlc${{ matrix.suffix }}"
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -o "$OUTPUT_NAME" main.go
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.arch }}
          path: wlc*

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: Flatten directory
        run: |
          mkdir out
          find ./artifacts -type f -exec cp {} ./out/ \;
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: wlc ${{ github.ref_name }}
          files: out/wlc*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
